<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee web-app_2_4.xsd"
	version="2.4">

	<welcome-file-list>
		<welcome-file>/Public/student/index.jsp</welcome-file>
	</welcome-file-list>

	<!-- <filter> <filter-name>LoginFilter</filter-name> <filter-class>filter.LoginFilter</filter-class>
		</filter> <filter-mapping> <filter-name>LoginFilter</filter-name> <servlet-name>LogoutUserServlet</servlet-name>
		<servlet-name>SearchDateUserServlet</servlet-name> <servlet-name>GoToSliderPageUserServlet</servlet-name>
		<servlet-name>RecieveSliderValueUserServlet</servlet-name> <servlet-name>TestProgramServlet</servlet-name>
		<servlet-name>GoToHomePageUserServlet</servlet-name> </filter-mapping> <security-constraint>
		<web-resource-collection> <web-resource-name>jsp-file</web-resource-name>
		<url-pattern>/Public/student/home.jsp</url-pattern> </web-resource-collection>
		<auth-constraint> </auth-constraint> </security-constraint> -->

	<!-- <error-page> <error-code>403</error-code> <location>/Public/student/redirectIndex.jsp</location>
		</error-page> <error-page> <error-code>404</error-code> <location>/Public/student/redirectIndex.jsp</location>
		</error-page> <error-page> <error-code>500</error-code> <location>/Public/student/redirectIndex.jsp</location>
		</error-page> -->

	<servlet>
		<servlet-name>LoginStudentServlet</servlet-name>
		<servlet-class>servlet.LoginStudentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginStudentServlet</servlet-name>
		<url-pattern>/Public/student/LoginStudentServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LogoutStudentServlet</servlet-name>
		<servlet-class>servlet.LogoutStudentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutStudentServlet</servlet-name>
		<url-pattern>/Public/student/LogoutStudentServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SearchDateStudentServlet</servlet-name>
		<servlet-class>servlet.SearchDateStudentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchDateStudentServlet</servlet-name>
		<url-pattern>/Public/student/SearchDateStudentServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GoToSelfAssessmentStudentServlet</servlet-name>
		<servlet-class>servlet.GoToSelfAssessmentStudentServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GoToSelfAssessmentStudentServlet</servlet-name>
		<url-pattern>/Public/student/GoToSelfAssessmentStudentServlet
		</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GoToHomePageStudentServlet</servlet-name>
		<servlet-class>servlet.GoToHomePageStudentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GoToHomePageStudentServlet</servlet-name>
		<url-pattern>/Public/student/GoToHomePageStudentServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RecieveSelfAssessmentStudentServlet</servlet-name>
		<servlet-class>servlet.RecieveSelfAssessmentStudentServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RecieveSelfAssessmentStudentServlet</servlet-name>
		<url-pattern>/Public/student/RecieveSelfAssessmentStudentServlet
		</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RecieveSelfAssessmentBeforeStudentServlet</servlet-name>
		<servlet-class>servlet.RecieveSelfAssessmentBeforeStudentServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RecieveSelfAssessmentBeforeStudentServlet</servlet-name>
		<url-pattern>/Public/student/RecieveSelfAssessmentBeforeStudentServlet
		</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ResetSelfAssessmentStudentServlet</servlet-name>
		<servlet-class>servlet.ResetSelfAssessmentStudentServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResetSelfAssessmentStudentServlet</servlet-name>
		<url-pattern>/Public/student/ResetSelfAssessmentStudentServlet
		</url-pattern>
	</servlet-mapping>
</web-app>