<?xml version="1.0" encoding="utf-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee web-app_2_4.xsd"
	version="2.4">

	<welcome-file-list>
		<welcome-file>/Public/student/index.jsp</welcome-file>
	</welcome-file-list>

	<!-- 児童側のxml -->
	<servlet>
		<servlet-name>LoginStudentServlet</servlet-name>
		<servlet-class>servlet.LoginStudentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginStudentServlet</servlet-name>
		<url-pattern>/Public/student/LoginStudentServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LogoutStudentServlet</servlet-name>
		<servlet-class>servlet.LogoutStudentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutStudentServlet</servlet-name>
		<url-pattern>/Public/student/LogoutStudentServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SearchDateStudentServlet</servlet-name>
		<servlet-class>servlet.SearchDateStudentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchDateStudentServlet</servlet-name>
		<url-pattern>/Public/student/SearchDateStudentServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GoToSelfAssessmentStudentServlet</servlet-name>
		<servlet-class>servlet.GoToSelfAssessmentStudentServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GoToSelfAssessmentStudentServlet</servlet-name>
		<url-pattern>/Public/student/GoToSelfAssessmentStudentServlet
		</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GoToHomePageStudentServlet</servlet-name>
		<servlet-class>servlet.GoToHomePageStudentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GoToHomePageStudentServlet</servlet-name>
		<url-pattern>/Public/student/GoToHomePageStudentServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RecieveSelfAssessmentStudentServlet</servlet-name>
		<servlet-class>servlet.RecieveSelfAssessmentStudentServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RecieveSelfAssessmentStudentServlet</servlet-name>
		<url-pattern>/Public/student/RecieveSelfAssessmentStudentServlet
		</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RecieveSelfAssessmentBeforeStudentServlet</servlet-name>
		<servlet-class>servlet.RecieveSelfAssessmentBeforeStudentServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RecieveSelfAssessmentBeforeStudentServlet</servlet-name>
		<url-pattern>/Public/student/RecieveSelfAssessmentBeforeStudentServlet
		</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ResetSelfAssessmentStudentServlet</servlet-name>
		<servlet-class>servlet.ResetSelfAssessmentStudentServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResetSelfAssessmentStudentServlet</servlet-name>
		<url-pattern>/Public/student/ResetSelfAssessmentStudentServlet
		</url-pattern>
	</servlet-mapping>

	<!-- 教員側のxml -->

</web-app>